* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial;
}

.crud {
    width: 80%;
    margin: auto;
}

.head {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

.head h2 {
    color: #0066ff;
}

input {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    font-size: 16px;
    outline: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

input:focus {
    border: none;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.prices input {
    width: 20%;
}

#total {
    background-color: #ff1100;
    color: white;
    font-size: 16px;
    padding: 12px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

#total::before {
    content: 'Total: ';
}

button {
    width: 100%;
    margin: 5px 0;
    padding: 12px;
    background-color: #0066ff;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

button:hover {
    opacity: 0.9;
    letter-spacing: 1.3px;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

#deleteAll {
    margin: 10px 0;
}

.btnsearch {
    display: flex;
    justify-content: space-between;
    
}

.btnsearch button {
    width: 48%;
}

table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table th {
    text-transform: uppercase;
}

th, td {
    padding: 5px;
}

#update, #delete {
    padding: 8px;
    
}

#update, #delete:hover {
    letter-spacing: normal;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

/* Media Queries and Responsive Design Standards */

/* Mobile (up to 767px) */
@media screen and (max-width: 767px) {
    /* styles for mobile */
}

/* Small Screens (768px to 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* styles for small screens */
}

/* Medium Screens (992px to 1199px) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    /* styles for medium screens */
}

/* Large Screens (1200px and up) */
@media screen and (min-width: 1200px) {
    /* styles for large screens */
}




